<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="stylesheets/style.css"/>
</head>
<body>


<div class="canvasContainer">
    <canvas class="playersCanvas" width="501" height="501"></canvas>
    <canvas class="foodCanvas" width="501" height="501"></canvas>
    <canvas class="boardCanvas" width="501" height="501"></canvas>
</div>


<script src="components/jquery/jquery.js"></script>
<script src="components/underscore/underscore.js"></script>
<script src="components/backbone/backbone.js"></script>
<script src="components/backbone.babysitter/lib/backbone.babysitter.js"></script>
<script src="components/socket.io-client/dist/socket.io.js"></script>

<script src="libs/requestAnimFrame.js"></script>

<script src="Game.js"></script>
<script src="Controls.js"></script>
<script src="views/BoardView.js"></script>
<script src="views/PlayersView.js"></script>
<script src="views/FoodView.js"></script>

<script>
    Game.main(".canvasContainer");
</script>

</body>
</html>